[default]
ALLOWED_HOSTS : [localhost]
SECRET_KEY : secretwalachit

[aws_s3]
AWS_KEY : xxxxxxxxxx
AWS_SECRET : xxxxxxxxxx
AWS_BUCKET_NAME : xxxxxx
AWS_REGION : ap-southeast-1
FABRIC_AWS_BUCKET_NAME : xxxxxxx
FILE_UPLOAD_SIZE : 5000000

[aws_sqs]
QUEUE_PREFIX : shiro-
SQS_REGION : ap-southeast-1
BROKER_TRANSPORT : redis
VISIBILITY_TIMEOUT : 300
POLLING_INTERVAL : 1
BROKER_URL : redis://localhost:6379/2

[databases]
DATABASE_NAME : diagnostics
DATABASE_USER : root
DATABASE_PASSWORD :
DATABASE_HOST : localhost
DATABASE_PORT : 3306

[sentry_config]
SENTRY_DSN : https://a:b@localhost:12345/c

[newrelic]
ENABLE_NEWRELIC_MONITORING : False
